In [107]:
"""
Tratar dados 'tempo.csv'
Aparência: sol, nublado, chuva
Temperatura: -130F ~ 130F
Umidade: 0 ~ 100
Jogar: sim/nao

Tratar valoras NAs
"""

"\nTratar dados 'tempo.csv'\nAparência: sol, nublado, chuva\nTemperatura: -130F ~ 130F\nUmidade: 0 ~ 100\nJogar: sim/nao\n\nTratar valoras NAs\n"

In [108]:
import pandas as pd
import seaborn as srn 
import statistics as sts

In [109]:
#importar dados
dataset = pd.read_csv("tempo.csv", sep=";")
#visulizar
dataset.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [110]:
dataset.shape

(14, 5)

In [111]:
agrupado = dataset.groupby(['Aparencia']).size()
agrupado

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [112]:
dataset.loc[dataset['Aparencia'] ==  'menos', 'Aparencia'] = "sol"

In [113]:
agrupado = dataset.groupby(['Aparencia']).size()
agrupado

Aparencia
chuva      5
nublado    3
sol        6
dtype: int64

In [114]:
agrupado = dataset.groupby(['Temperatura']).size()
agrupado

Temperatura
64      1
65      1
68      1
69      1
70      1
71      1
72      1
75      2
80      1
81      1
83      1
85      1
1220    1
dtype: int64

In [115]:
dataset.loc[(dataset['Temperatura'] <  -130 )  | ( dataset['Temperatura'] >  130) ]

  Aparencia  Temperatura  Umidade  Vento Jogar
7       sol         1220     95.0  FALSO   nao

In [116]:
mediana = sts.median(dataset['Temperatura'])
mediana

73.5

In [117]:
dataset.loc[(dataset['Temperatura'] <  -130 )  | ( dataset['Temperatura'] >  130), 'Temperatura'] = mediana

In [118]:
dataset.loc[(dataset['Temperatura'] <  -130 )  | ( dataset['Temperatura'] >  130) ]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [119]:
dataset.loc[(dataset['Umidade'] <  0 )  | ( dataset['Umidade'] >  100) ]

  Aparencia  Temperatura  Umidade Vento Jogar
9     chuva         75.0    200.0   NaN   sim

In [120]:
mediana = sts.median(dataset['Umidade'])
mediana

85.5

In [121]:
dataset.loc[(dataset['Umidade'] <  -130 )  | ( dataset['Umidade'] >  130), 'Umidade'] = mediana

In [122]:
dataset.loc[(dataset['Umidade'] <  0 )  | ( dataset['Umidade'] >  100) ]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [123]:
dataset.loc[(dataset['Jogar'] != 'sim' )  & ( dataset['Jogar'] !=  'nao') ]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [124]:
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [125]:
mediana = sts.median(dataset['Umidade'])
mediana

85.5

In [126]:
dataset['Umidade'].fillna(mediana, inplace=True)

In [127]:
agrupado = dataset.groupby(['Vento']).size()
agrupado

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

In [128]:
dataset['Vento'].fillna('FALSO', inplace=True)

In [129]:
dataset['Vento'].isnull().sum()

0

In [130]:
dataset.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol         85.0     85.0       FALSO   nao
1       sol         80.0     90.0  VERDADEIRO   nao
2   nublado         83.0     86.0       FALSO   sim
3     chuva         70.0     85.5       FALSO   sim
4     chuva         68.0     80.0       FALSO   sim